#arogi-menu-main {
	width: 300px;
	position:absolute;
	right:0;
	top:0;
	margin:7px 7px 7px 7px;
	/* background: #bdc9e1; */
	border-radius: 0px;
	word-wrap: break-word;
	border-width:thin;
	border-style: solid;
	border-color: #cccccc;


	/* min-height: 400px; */
}

#arogi-top-zone {
	width: 100%;
	height: 50px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	background: #3d4c59;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-weight: lighter;
	line-height: 50px; /* meant to create vertical alignment */
	clear:both;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}

#arogi-menu-upper {
	height: 50px;
	width: 80%;
	padding: 0 10% 0 10%;
	/* background: #74a9cf; */
	color: white;
	line-height: 50px; /* meant to create vertical alignment */
	clear:both;
	background-color:rgba(86, 107, 132, 0.9);

}

#arogi-menu-middle {
	height: 120px;
	width: 80%;
	padding: 10%;
	/* background: #a8b7d7; */
	overflow:hidden;
	background-color:rgba(167, 169, 170, 0.8);
}

#arogi-menu-bottom {
	height: 54px;
	padding: 5px 0 5px 0;
	background: #3d4c59;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	position:relative;
	right:0;
	bottom:0;
	border-top: 2px solid #687b8e;
	color: white;
	font-weight: thin;
	text-align: right;
}

#arogi-sub-left {
	width: 90%;
	float: left;
	text-align: right;
	padding: 8px 0 0 0;
}

.sliderValue {
	width: 30px;
	float: right;
	text-align: center;
	padding: 5px 5px 5px 5px;
	background: #e6e6e6;
	border-radius: 4px;
}

.parameterLabels {
	font-size:80%;
	color: #333333;
}
